 Below, we have a sentence whose cases are all over the place. Let's normalize the cases and make everything lower case except the first letter in the sentence. hint: there is a string method that does this

In [3]:
sentence = "woW WE LOVE cOdInG and strINGS!"
sentence.capitalize()

'Wow we love coding and strings!'

Next, we have our Flatiron mantra, but it's not in title case like it should be! Let's fix that and use another string method that makes all strings first letter capitalized.

In [4]:
flatiron_mantra = "learn. love. code."
flatiron_mantra.title()

'Learn. Love. Code.'

The next thing we want to do is practice turning other data types into strings. Below, we have a number 1234, which happens to be our street number in our address, which is a string. So, let's turn the number into a string so we can eventually add it to our address. The process of linking different strings together is called concatenation.

In [7]:
num_to_string = str(1234)
num_to_string

'1234'

Let's take the num_to_string and add it to the beginning of our street address below. We need to concatenate the variable to the beginning of our string so that we have our full address all in one string and assigned to the variable full_address. hint: None is a placeholder in the below code for you to edit

In [8]:
full_address = num_to_string + " Abc street, Hometown USA"
full_address

'1234 Abc street, Hometown USA'

Finally, let's replace some of the characters in a string. Let's say Bart is upset with his family and wants to be adopted by the Flanders family. How would you replace his last name?

In [12]:
name = "Bart Simpson"
name = name.replace('Simpson','Flanders')
name

'Bart Flanders'